/* debug */
* {
  /* border: 1px dashed #000; */
}
/* rem setup */
html {
  font-size: 62.5%; /* 1rem = 10px */
  --primary: #07484a;
  --secondary: #70908b;
  --light: #fdfbf8;
}
body {
  font-family: 'Playfair Display', serif;
  color: var(--primary);
}

.container {
  padding-left: 1.6rem;
  padding-right: 1.6rem;
}

/* common css */
.btn {
  border: 1px solid var(--secondary);
  background-color: var(--secondary);
  color: var(--light);
  padding: 2rem 4.4rem;
  border-radius: 1rem;
  font-family: 'Open Sans', sans-serif;
  font-weight: bold;
  font-size: 1.8rem;
}
.btn-arrow::after {
  content: '\f178';
  font-family: FontAwesome;
  margin-left: 1.5rem;
}
.section-title {
  font-size: 3.6rem;
}
.section {
  padding-top: 7rem;
  padding-bottom: 7rem;
}

/* header */
header {
  position: fixed;
  width: 100%;
  background-color: white;
  top: 0;
  z-index: 10;
}
.header-grid {
  padding-top: 3rem;
  padding-bottom: 3rem;
  display: grid;
  grid-template-columns: 3.2rem auto 11rem;
  justify-content: space-between;
  align-items: center;
}
.header-grid .fa {
  font-size: 2.5rem;
}
.logo {
  font-size: 2.6rem;
}
header .social {
  display: flex;
  gap: 18px;
  justify-content: space-between;
}

/* <!-- hero --> */
.hero {
  height: 92.5rem;
  background: palegoldenrod url('/img/hero-bg-640.jpg') no-repeat center/cover;
  background-size: cover;
  border-bottom-left-radius: 2.5rem;
  border-bottom-right-radius: 2.5rem;
}
h1 {
  font-size: 3.6rem;
  margin-bottom: 3rem;
}
.hero .container {
  text-align: center;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.hero-text {
  font-size: 1.8rem;
  font-family: 'Open Sans', sans-serif;
  max-width: 27.5rem;
  margin-bottom: 5rem;
}

/* Categories */
.categories .section-title {
  text-align: center;
  margin-bottom: 3.1rem;
}

.cat-names {
  display: none;
}
.cat-names > li {
  font-size: 2.4rem;
  font-family: 'Open Sans', sans-serif;
  padding: 1em 2em;
}

.search-input {
  background-color: #f0f0f0;
  border-radius: 1rem;
  border: none;
  padding-left: 7rem;
  font-size: 1.8rem;
  padding-top: 2.2rem;
  padding-bottom: 2rem;
  border: 1px solid #000;
}
.search-input::placeholder {
  color: #6e757e;
  font-size: 1.8rem;
}
.input-wrap {
  position: relative;
}
.input-wrap::before {
  content: '\f002';
  position: absolute;
  font-family: FontAwesome;
  font-size: 2rem;
  left: 3.2rem;
  top: 2.2rem;
  color: #6e757e;
}
.menu {
  font-size: 3.5rem;
}
.search-block {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.cat-link {
  min-height: 21.4rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 3.6rem;
  background-color: #c4c4c4;
  color: white;
  border-radius: 1rem;
  margin-bottom: 2rem;
  box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.4);
}

/* medias */
@media screen and (min-width: 1024px) {
  .container {
    padding-left: 4rem;
    padding-right: 4rem;
  }
  .btn {
    padding: 2.3rem 5.4rem;
    font-size: 2.4rem;
  }
  /* hero------- */
  .hero {
    background: palegoldenrod url('/img/hero-bg.jpg') no-repeat center/cover;
    height: 68.9rem;
  }
  .hero .container {
    text-align: left;
    align-items: start;
  }
  h1 {
    font-size: 4.8rem;
    max-width: 58.8rem;
    margin-bottom: 2.5rem;
  }
  .hero-text {
    font-size: 2.5rem;
    max-width: initial;
  }
  /* cats */
  .cat-names {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-left: 2rem;
    margin-right: 2rem;
  }
  .menu {
    display: none;
  }
  .search-block {
    justify-content: center;
  }
  .cats-list {
    display: grid;
    /* grid-template-columns: 1fr 1fr; */
    grid-template-columns: repeat(2, 1fr);
    column-gap: 2rem;
  }
  .categories {
    display: grid;
    grid-template-columns: 1fr;
  }
  .categories > .btn-arrow {
    grid-row: 4 / 5;
    justify-self: center;
    margin-bottom: 3.8rem;
  }
}

@media screen and (min-width: 1920px) {
  h1 {
    font-size: 6.4rem;
    max-width: 68.8rem;
    margin-bottom: 3rem;
  }
  /* categories */
  .categories .section-title {
    grid-area: title;
  }
  .search-block {
    grid-area: search;
  }
  .cat-names {
    grid-area: catNames;
  }
  .cats-list {
    grid-area: catsList;
  }
  .categories .btn-arrow {
    grid-area: btn;
  }
  .categories {
    grid-template-columns: 35rem auto;
    grid-template-areas:
      'title title'
      'search catsList'
      'catNames catsList'
      'btn catsList';
  }
}
